# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.jpg
HW2/tmpfiles/tmp.txt
HW2/tmpfiles/tmp1.txt
HW2/tmpfiles/tmp5.txt
HW2/tmpfiles/tmp3.txt
HW2/tmpfiles/tmp2.txt
HW2/tmpfiles/tmp4.txt
*.vlt
HW2/vault
HW2/ex2_302818950.zip
HW2/tests.zip
*.cproject
*.project
*.prefs
*.exe
HW3/Debug/

HW3/counter
HW3/dispatcher
